
:root {
    --primary-color: #DDDDDD;
    --secondary-color: #F8F9FA;
    --box-shadow: 2px 2px 2px rgba(173, 170, 170, 0.3);
}




.main-head {
    font-family: "Rubik", sans-serif !important;
    font-size: 180px;
    color: #E8B8AD;
    margin-bottom: -70px;
    margin-left: -110px;
    font-weight: bold;
}

p {
    font-size: 12px;
    margin-top: 12px !important;
    color: #A8B1B8;
}

.btn {
    margin-top: -8px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}


.logo-img {
    width: 30px;

}

.container-1 {
    background-color: var(--secondary-color) !important;
    height: 100vh;
    max-width: 100%;
    margin-top: 60px;
    overflow-x: hidden;

}

.main-heading {
    margin-left: 80px;

}

.secondary-heading {
    margin-top: 100px;
    margin-left: -140px;
}

.second-heading {
    font-family: "Rubik", sans-serif !important;
    color: #E55248;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: -20px;
}



.airpods-main {
    width: 380px;
    margin-top: -420px;
    margin-left: 20px;
    
}


.background-color {
    width: 400px;
    height: 400px;
    background-color: #F0F0F0;
    border-radius: 50%;
    margin: 90px 0 0 200px;
}


.airpods-secondary {
    width: 380px;
    height: 380px;
    margin-top: -60px;
    margin-left: -140px;
}


.container-2 {
    background-color: white;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    margin-top: 60px;
    overflow-x: hidden;

}


.airpods-display {
    margin: 60px 300px;
    width: 300px;
    height: 450px !important;
    box-shadow: var(--box-shadow);
}


.second-home-heading {
    font-family: "Rubik", sans-serif !important;
    color: #E8B8AD;
    font-size: 50px;
    font-weight: bold;
    margin-top: 130px;
    margin-left: -145px;
    margin-bottom: -125px;
}


.custom-heading {
    color:  #ED9498;
}




.second-paragraph {
     font-size: 12px;
    margin-top: 170px !important;
    color: #A8B1B8;
}

.arrow-img {
    width: 60px;
    background-color: #F0F0F0;
    border-radius: 40%;
    padding: 15px;
    margin-left: 120px;
}





.container-3  {
    background-color: var(--secondary-color) !important;
    height: 100vh;
    max-width: 100%;
    padding-top: 130px;
    

}

.final-home-heading {
    margin-left: 80px;
}


.third-heading {
     font-family: "Rubik", sans-serif !important;
    color: #E55248;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: -15px;
    margin-left: 295px;
}

.final-page-paragraph {
    padding-top: 20px;
    margin-left: 300px;
}

.btn-2 {
   margin-top: 8px;
    margin-left: 380px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);  
    border: none; 
}

.airpods-cases {
    width: 800px;
    margin-top: -300px;
    margin-left: 80px;

}



@media(max-width: 600px) {
    .main-head {
        font-size: 130px;
    }
   
    .airpods-main {
        margin-top: -220px;
    }

    .second-home-heading {
        font-size: 30px;
    }

    .second-paragraph {
        margin-left: -200px;
        color: rgb(45, 44, 44);
        font-size: 10px;
        
    }

    .arrow-img {
        margin-left: -70px;
    }



    .third-heading {
       margin-left: 50px;

    }


    .container-3 {
        padding-top: 60px;
        padding-bottom: 60px;
        margin-top: -220px;
        height: 85%;
        

    }

   .final-page-paragraph {
    margin-left: 50px;
    font-size: 10px;
    
   }


   .btn-2 {
    margin-left: 50px;
    
   }


   .airpods-cases {
    margin-top: 90px;
    margin-left: -20px;
    
   }





}


  









@media (min-width: 600px) and (max-width: 820px){


    .main-heading {
        padding-top: 30px;
    }

   .main-head {
    font-size: 150px;
   }


   .airpods-main {
    width: 300px;
    margin-top: -330px;
    margin-left: -10px;
   }



   .airpods-secondary {
    width: 280px;
    margin-top: -30px;
    margin-left: -150px;
   }

   .background-color {
    height: 300px;
   }


   .secondary-heading {
    display: none;
    margin-top: 80px;
    margin-left: -15px !important;
}

.btn {
    width: 120px;
    margin-left: -5px;
}


.second-home-wrapper {
    margin-top: -60px;
}

.airpods-display {
    margin-left: 60px;
}

.second-paragraph {
    margin-top: 130px !important;
    margin-left: -110px;
    color: black;
    
}


.container-3 {
    margin-top: -400px;
    background-color: pink !important;
    height: 500px;
    
}


.third-heading {
    margin-left: 150px;
}

.final-page-paragraph {
    margin-left:  150px;
    color: black;
}


.btn-2 {
    margin-left: 200px;
}












}


@media (min-width:853px) and (max-width: 1024px) {

    .airpods-display{
        margin-left: 45px;
    }


.second-home-wrapper {
    margin-top: -10px;
}

.second-home-heading{
    font-size: 40px;
}


.second-paragraph {
    margin-left: -65px;
}

.container-3 {
    margin-top: -700px;
    background-color: pink !important;
    height: 500px;
    
}


.third-heading {
    margin-left: 150px;
}

.final-page-paragraph {
    margin-left:  150px;
    color: black;
}


.btn-2 {
    margin-left: 200px;
}









}