
:root {
    --primary-color: #DDDDDD;
    --secondary-color: #F8F9FA;
}




.main-h1 {
    font-family: "Rubik", sans-serif !important;
    font-size: 180px;
    color: #E8B8AD;
    margin-bottom: -70px;
    margin-left: -110px;
    font-weight: bold;
}

p {
    font-size: 12px;
    margin-top: 12px !important;
    color: #A8B1B8;
}

.btn {
    margin-top: -8px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(173, 170, 170, 0.3);
}


.logo-img {
    width: 30px;

}

.container-1 {
    background-color: var(--secondary-color) !important;
    height: 100vh;
    max-width: 100%;
    margin-top: 60px;
    overflow-x: hidden;

}

.main-heading {
    margin-left: 80px;

}

.secondary-heading {
    margin-top: 100px;
    margin-left: -140px;
}

.second-heading {
    font-family: "Rubik", sans-serif !important;
    color: #E55248;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: -20px;
}



.airpods-main {
    width: 380px;
    margin-top: -420px;
    margin-left: 20px;
    
}


.background-color {
    width: 350px;
    height: 350px;
    background-color: #A8B1B8;
    border-radius: 50%;
    margin: 80px 0 0 180px;
}


.airpods-secondary {
    width: 380px;
    height: 380px;
    margin-top: -120px;
    margin-left: -80px;
}





